@section Styles {
    <link rel="stylesheet" href="/css/Create.css" type="text/css" />
}
@model DTS.Logic.Layer.ViewModels.W_TGO_INVCREATE

@{
    ViewData["Title"] = "Invoice Create Page";
}
<div class="group">
    <div class="arrow arw1">Fatura <br /> Bilgileri</div>
    <div class="arrow arw2">Alıcı <br /> Bilgileri</div>
    <div class="arrow arw3">Mal & Hizmet <br /> Bilgileri</div>
    <div class="arrow arw4">Notlar</div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {

        });
    </script>
}