<div class="content-box" style="padding:0;">
    <div class="app-email-w">
        <div class="app-email-i">
           
            <!--------------------
            START - Email Messages List
            -------------------->
            <div class="ae-list-w">
                <div class="ael-head">
                    <div class="actions-left">
                        <select>
                            <option>
                                Tarihe Göre Sıralı
                            </option>
                        </select>
                    </div>
                    <div class="actions-right">
                        <a href="#"><i class="os-icon os-icon-ui-37"></i></a><a href="#"><i class="os-icon os-icon-grid-18"></i></a>
                    </div>
                </div>
                <div class="ae-list">
                    <div class="ae-item with-status  status-green">
                        <div class="aei-image">
                            <div class="user-avatar-w">
                                <img alt="" src="~/src/Profile/Shared/profileDefault.jpg">
                            </div>
                        </div>
                        <div class="aei-content">
                            <div class="aei-timestamp">
                                1:25pm
                            </div>
                            <h6 class="aei-title">
                                Melih TUNA
                            </h6>
                            <div class="aei-sub-title">
                                Bilgi Amaçlı
                            </div>
                            <div class="aei-text">
                                Program ne oldu ?
                            </div>
                        </div>
                    </div>
                
                </div>
                <a class="ae-load-more" href="#"><span>Daha Fazla Mesaj Yükle</span></a>
            </div>
            <!--------------------
            END - Email Messages List
            -------------------->
            <div class="ae-content-w">
                <!--------------------
                START - Email Content Header
                -------------------->
                <div class="aec-head">
                    <div class="actions-left">
                        <a class="highlight" href="#"><i class="os-icon os-icon-ui-02"></i></a>
                    </div>
                    <div class="actions-right">
                        <div class="aeh-actions">
                            <a href="#">Arşivle <i class="os-icon os-icon-ui-44"></i></a>
                            <a class="separate" href="#"> Sohbeti Sil <i class="os-icon os-icon-ui-15"></i></a>
                            <a href="#">Yanıtla <i class="os-icon os-icon-common-07"></i></a>
                            <a href="#">İlet <i class="os-icon os-icon-mail-19"></i></a>
                        </div>
                        <div class="user-avatar">
                            <img alt="" src="~/src/Profile/Shared/profileDefault.jpg">
                        </div>
                    </div>
                </div>
                <!--------------------
                END - Email Content Header
                -------------------->
                <!--------------------
                START - Email Content
                -------------------->
                <div class="ae-content">
                    <div class="older-pack">
                        <div class="aec-full-message-w">
                            <div class="aec-full-message">
                                <div class="message-head">
                                    <div class="user-w with-status status-green">
                                        <div class="user-avatar-w">
                                            <div class="user-avatar">
                                                <img alt="" src="~/src/Profile/Shared/profileDefault.jpg">
                                            </div>
                                        </div>
                                        <div class="user-name">
                                            <h6 class="user-title">
                                                Melih TUNA
                                            </h6>
                                            <div class="user-role">
                                                Registration Question<span>< melih.tuna@DTS.com.tr ></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-info">
                                        February 7th, 2017<br>2:27pm
                                    </div>
                                </div>
                                <div class="message-content">
                                    Greetings Fevzi,<br><br>Classes of there been temple. Rung quite head the may devious usual. A century thing if but support turn start he a subject if what live was become write that suspicion case fundamentals office his her. Earnestly a the and on a phase samples examples, tone.<br><br>Regards,<br>Mike Mayers
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aec-full-message-w show-pack">
                        <div class="more-messages">
                            (1) Önceki Mesajlar
                        </div>
                        <div class="aec-full-message">
                            <div class="message-head">
                                <div class="user-w with-status status-green">
                                    <div class="user-avatar-w">
                                        <div class="user-avatar">
                                            <img alt="" src="~/src/Profile/Shared/profileDefault.jpg">
                                        </div>
                                    </div>
                                    <div class="user-name">
                                        <h6 class="user-title">
                                            Fevzi İÇYER
                                        </h6>
                                        <div class="user-role">
                                            Account Manager<span>< fevzi@dtstec.com ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-info">
                                    January 12th, 2017<br>1:24pm
                                </div>
                            </div>
                            <div class="message-content">
                                Selam Melih,<br><br><br><br>Regards,<br>Fevzi İÇYER
                                <div class="message-attachments">
                                    <div class="attachments-heading">
                                        Attachments
                                    </div>
                                    <div class="attachments-docs">
                                        <a href="#"><i class="os-icon os-icon-ui-51"></i><span>Excel Document</span></a><a href="#"><i class="os-icon os-icon-documents-07"></i><span>Image File</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aec-reply">
                        <div class="reply-header">
                            <h5>
                                Cevapla <span>@*John Mayers*@</span>
                            </h5>
                        </div>
                        <textarea cols="80" id="ckeditorEmail" name="ckeditor1" rows="5"></textarea>
                        <div class="buttons-w">
                            <div class="actions-left">
                                @*<a class="btn btn-link" href="#"><i class="os-icon os-icon-ui-51"></i><span>Add Attachment</span></a>*@
                            </div>
                            <div class="actions-right">
                                <a class="btn btn-success" href="#"><i class="os-icon os-icon-mail-18"></i><span>Send Message</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------------
                END - Email Content
                -------------------->
            </div>
        </div>
    </div>




    
 
    
</div>