@model List<W_TGO_ACNTS>


<div class="row">
    <div class="col-lg-6">
        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Şirket Adı</span>
            
            <span class="focus-bg"></span>
        </label>


        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Yetkili Adı</span>
            <span class="focus-bg"></span>
        </label>

        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Yetkili Soyadı</span>
            <span class="focus-bg"></span>
        </label>


        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">E-Mail</span>
            <span class="focus-bg"></span>
        </label>


        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Telefon</span>
            <span class="focus-bg"></span>
        </label>

    </div>

    <div class="col-lg-6">

        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Adres</span>
            <span class="focus-bg"></span>
        </label>


        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Vergi Dairesi</span>
            <span class="focus-bg"></span>
        </label>

        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Vergi Numarası</span>
            <span class="focus-bg"></span>
        </label>


        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Not</span>
            <span class="focus-bg"></span>
        </label>


        <label for="inp" class="inp">
            <input type="text" id="inp" placeholder="&nbsp;">
            <span class="label">Not 2</span>
            <span class="focus-bg"></span>
        </label>

    </div>
</div>



